{
  "importOrder": [
    "^.+\\.(svg|png|jpg|jpeg|gif|webp)$",
    "<THIRD_PARTY_TS_TYPES>",
    "<TS_TYPES>^[./]",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "trailingComma": "all"
}
